body {
    background-color: #f6f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card__content {
    padding: 20px;
}

.toggle {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle__option {
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.toggle__option--selected {
    background-color: #ff4b2b;
    color: #fff;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #ff4b2b;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff6347;
}
